<div class="container2 p-shadow-2 body-content">
  <p-card>
    <div class="p-col-12">
      <h2>Alertas</h2>
    </div>
    <div class="p-col-12" style="color: white;">----------------------</div>
    <div class="p-col-12" style="color: white;">----------------------</div>

    <div class="p-grid">
      <div class="p-col-12">
      <p-table
        #tabela
        [value] = avisosAutomaticos
        styleClass="p-datatable-sm"
        [paginator]="true"
        [rows]="5"
        selectionMode="single"
        [responsive]="true"
        selectionMode="single">
        <ng-template pTemplate="emptymessage">
          Nenhum alerta encontrado
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
              <th class="col-titulo-header">Título</th>
              <th class="col-mensagem-header">Mensagem</th>
              <th class="col-data-header">Data alerta</th>
              <th class="col-status-header">visualizado</th>
              <th class="col-data-header">Ações</th>
          </tr>
          </ng-template>
          <ng-template pTemplate="body" let-avisosAutomaticos>
              <tr>
                  <td class="col-titulo-content">{{ avisosAutomaticos.titulo }}</td>
                  <td class="col-mensagem-content">{{ avisosAutomaticos.mensagem }}</td>
                  <td class="col-data-content">{{ avisosAutomaticos.dataCadastro | date: 'dd/MM/y'}}</td>

                  <td class="col-status-content"><a href="javascript:;"
                    [pTooltip]="avisosAutomaticos.visualizado ? '' : (avisosAutomaticos.visualizado ? 'Desativar' : 'Marcar visualizado')"
                    tooltipPosition="top" (click)="avisosAutomaticos.visualizado || alterarStatusAtivo(avisosAutomaticos)">
                      {{avisosAutomaticos.visualizado ? 'VISUALIZADO' : 'MARCAR VISUALIZADO'}}</a></td>

                  <td class="col-acoes">
                    <button pButton icon="pi pi-eye" class="p-button-raised p-button-rounded p-button-secondary p-mr-1 p-button-outlined"
                    pTooltip="Visualizar mensagem" tooltipPosition="top" (click)="showModalDialog(avisosAutomaticos)"></button>

                    <button pButton icon="pi pi-trash" class="p-button-raised p-button-rounded p-button-danger p-mr-1 p-button-outlined"
                    pTooltip="Remover Alerta" tooltipPosition="top" (click)="confirmaExclusao(avisosAutomaticos)"></button>
                  </td>
              </tr>
          </ng-template>

      </p-table>
      </div>
    </div>

    <div [hidden]="false">
      <p-dialog header="Mensagem" [(visible)]="displayModal" [modal]="true"
      [draggable]="true" [resizable]="true">

      <div class="p-d-flex p-flex-column p-flex-md-row">

        <div class="p-col-12 p-fluid">
          <textarea type="text" rows="4" [cols]="80" pInputTextarea autoResize="true" name="descricao"
          [(ngModel)]="avisosAutomaticosMensagemModel" ngModel ></textarea>
        </div>

      </div>

      </p-dialog>
     </div>


  </p-card>
</div>
