<div class="container body-content">

  <p-card>

    <form autocomplete="off" (ngSubmit)="pesquisar();">

      <div class="p-col-12">
        <h2>Pessoas</h2>
      </div>

      <div class="p-col-12 p-fluid">
        <label>Nome pessoa</label>
        <input type="text" pInputText class="p-inputtext-sm" placeholder="Pesquisa por nome pessoa" name="pessoa" [(ngModel)]="nomePessoa">
      </div>
      <div class="p-col-12">
        <button pButton type="submit" label="Pesquisar" icon="pi pi-search" class="p-button-raised p-button-rounded"></button>
      </div>
    </form>

    <div class="p-col-12" style="color: white;">----------------------</div>

    <div class="p-grid">
      <div class="p-col-12">
      <p-table
        #tabela
        [value] = pessoas
        styleClass="p-datatable-gridlines"
        [paginator]="true"
        [rows]="5"
        selectionMode="single"
        [responsive]="true"
        selectionMode="single">
        <ng-template pTemplate="emptymessage">
          Nenhuma pessoa encontrada
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
              <th class="col-pessoa-header">Pessoa</th>
              <th class="col-email-header">E-mail</th>
              <th class="col-data-header">Data cadastro</th>
              <th class="col-data-header">Ações</th>
          </tr>
          </ng-template>
          <ng-template pTemplate="body" let-pessoas>
              <tr>
                  <td class="col-pessoa-content">{{pessoas.nomePessoa}}</td>
                  <td class="col-email-content">{{pessoas.email}}</td>
                  <td class="col-data-content">{{pessoas.dataCadastro | date: 'dd/MM/y'}}</td>

                  <td class="col-acoes">
                    <button pButton icon="pi pi-pencil" class="p-button-raised p-button-rounded p-button-secondary p-mr-1 p-button-outlined"
                    pTooltip="Editar Pessoa" tooltipPosition="top" [routerLink]="['/pessoas', pessoas.pessoaID]"></button>

                    <button pButton icon="pi pi-trash" class="p-button-raised p-button-rounded p-button-danger p-mr-1 p-button-outlined"
                    pTooltip="Remover Pessoa" tooltipPosition="top" (click)="confirmarExclusao(pessoas)"></button>
                  </td>
              </tr>
          </ng-template>

      </p-table>
      </div>
    </div>

    <div class="p-col-12">
      <button pButton label="Cadastrar Pessoa" icon="pi pi-plus-circle" class="p-button-raised p-button-primary"
              pTooltip="Cadastrar Pessoa" tooltipPosition="top" routerLink="/pessoas/novo"></button>
    </div>


  </p-card>

</div>
