<div class=" p-shadow-2 body-content">
  <p-card>
    <form  autocomplete="off" (ngSubmit)="pesquisarByFiltro();">
    <div class="p-col-12">
      <h2>Pesquisa controle de dividendos</h2>
    </div>

    <div class="p-shadow-1">
      <p-panel [toggleable]="true" [collapsed]="true">
        <ng-template pTemplate="header">
          <div style="display: flex; align-items: center;">
            <i [class]="iconePanel" style="margin-right: 5px;"></i>
            <span>Filtro de pesquisa {{mensagemDeFiltro}} </span>
          </div>
        </ng-template>

        <div class="p-d-flex p-flex-column p-flex-md-row">

          <div class="p-mb-2 p-mr-2 p-col-1 p-fluid">
            <label>Ticker</label>
            <input type="text" pInputText class="p-inputtext-sm" placeholder="Pesquisa por ticker" [(ngModel)]="tickerFiltro" name="tickerFiltro">
          </div>

          <div class="p-mb-2 p-mr-2 p-col-1 p-fluid">
            <label class="p-fluid">Tipo recebimento</label>
            <p-dropdown
            name="tipoRecebimento"
            [options]="tipoRecebimento"
            [(ngModel)]="tipoRecebimentoFiltro"
            filter="true"
            placeholder="Selecione"></p-dropdown>
          </div>

          <div class="p-mb-2 p-mr-2 p-col-2 p-fluid">
            <label style="display: block;">Data referencia</label>
            <p-calendar
                    name="dataReferencia"
                    [(ngModel)]="dataReferencia"
                    view="month"
                    dateFormat="mm/yy"
                    [readonlyInput]="true"
                    [showIcon]="true"></p-calendar>
          </div>

          <div class="p-mb-2 p-mr-2 p-col-2 p-fluid">
            <label style="display: block;">Data pagamento</label>
            <p-calendar
                    name="dataPagamento"
                    [(ngModel)]="dataPagamento"
                    dateFormat="dd/mm/yy"
                    [readonlyInput]="false"
                    [showIcon]="true"></p-calendar>
          </div>

        </div>

        <div class="p-col-12">
          <div class="p-d-flex p-flex-row p-flex-md-row">

          <div style="margin-right: 10px;">
            <button pButton type="submit" label="Pesquisar" icon="pi pi-search" class="p-button-raised p-button-rounded"></button>
          </div>

          <div>
            <button pButton type="button" label="Limpar filtros" icon="pi pi-filter-slash" class="p-button-raised p-button-rounded p-button-info"
            (click)="resetarCamposFiltro()"></button>
          </div>
          </div>
        </div>
      </p-panel>
    </div>
    </form>

    <div class="p-col-12" style="color: white;">----------------------</div>

    <div class="p-grid">
      <div class="p-col-12 p-shadow-2">
      <p-table
        #tabela
        [value] = controleDividendos
        styleClass="p-datatable-gridlines p-datatable-sm"
        [paginator]="true"
        [rows]="6"
        selectionMode="single"
        [responsive]="true"
        selectionMode="single">
        <ng-template pTemplate="emptymessage">
          Nenhum dividendo encontrado
        </ng-template>
        <ng-template pTemplate="header">

          <tr>
            <th  colspan="7">Total dividendos recebido:  {{totalDivRecebido.totalDivRecebido | currency: 'BRL'}}</th>
            <th  colspan="6">Dividendos disponível: {{ totalDivDisponivel.totalDivDisponivel | currency: 'BRL'}}</th>
        </tr>

          <tr>
              <th class="col-logo-header">Tipo ativo</th>
              <th class="col-ticker-header">Segmento</th>
              <th class="col-short-name-header">Setor</th>
              <th class="col-status-header">Ticker</th>
              <th class="col-status-header">Tipo recebimento</th>
              <th class="col-status-header">Tipo Dividendo</th>
              <th class="col-status-header">Data referencia</th>
              <th class="col-status-header">Data Com</th>
              <th class="col-status-header">Data pagamento</th>
              <th class="col-status-header">Quantidade</th>
              <th class="col-status-header">Valor por cota</th>
              <th class="col-status-header">Dividendo recebido</th>
              <th class="col-status-header">Div utilizado</th>
              <th class="col-acoes-header">Ações</th>
          </tr>
          </ng-template>
          <ng-template pTemplate="body" let-controleDividendos>
              <tr>
                  <td class="col-pessoa-content">{{controleDividendos.tipoAtivoEnum}}</td>
                  <td class="col-pessoa-content">{{controleDividendos.produtosRendaVariavel.segmento.nomeSegmento}}</td>
                  <td class="col-pessoa-content">{{controleDividendos.produtosRendaVariavel.setor.nomeSetor}}</td>
                  <td class="col-pessoa-content">{{controleDividendos.produtosRendaVariavel.ticker}}</td>
                  <td class="col-pessoa-content"><span
                    [style.color]="controleDividendos.tipoDivRecebimentoEnum === 'A_RECEBER' ? '#d488065' : '#1c4f2a'"
                    [style.backgroundColor]="controleDividendos.tipoDivRecebimentoEnum === 'A_RECEBER' ? '#ebe575' : '#81cc95'">
                    {{controleDividendos.tipoDivRecebimentoEnum}} </span></td>
                  <td class="col-pessoa-content">{{controleDividendos.tipoDividendoEnum}}</td>
                  <td class="col-pessoa-content">{{controleDividendos.dataReferencia | date: 'MMM/y'}}</td>
                  <td class="col-pessoa-content">{{controleDividendos.dataCom | date: 'dd/MM/y'}}</td>
                  <td class="col-pessoa-content">{{controleDividendos.dataPagamento | date: 'dd/MM/y'}}</td>
                  <td class="col-pessoa-content">{{controleDividendos.qtdCota}}</td>
                  <td class="col-pessoa-content">{{controleDividendos.valorPorCota | currency: 'BRL'}}</td>
                  <td class="col-pessoa-content">{{controleDividendos.valorRecebido | currency: 'BRL'}}</td>

                  <td class="col-pessoa-content"><a href="javascript:;" [pTooltip]="controleDividendos.divUtilizado ? 'DIV JÁ UTILIZADO' : 'DISPONÍVEL'"
                    tooltipPosition="top"
                    (click)="alterarStatusAtivo(controleDividendos)">
                    {{controleDividendos.divUtilizado  ? 'DIV JÁ UTILIZADO' : 'DISPONÍVEL'}}</a></td>

                  <td class="col-acoes-content">
                    <button pButton icon="pi pi-pencil" class="p-button-raised p-button-rounded p-button-secondary p-mr-1 p-button-outlined p-button-sm"
                    pTooltip="Editar controle dividendo" tooltipPosition="top" [routerLink]="['/controle-dividendos', controleDividendos.controleDividendoId]"></button>

                    <button pButton icon="pi pi-trash" class="p-button-raised p-button-rounded p-button-danger p-mr-1 p-button-outlined p-button-sm"
                    pTooltip="Remover controle dividendo" tooltipPosition="top" (click)="confirmaExclusao(controleDividendos)"></button>
                  </td>

              </tr>
          </ng-template>

      </p-table>
      </div>
    </div>

    <div class="p-col-12">
      <button pButton label="Cadastrar dividendo" icon="pi pi-plus-circle" class="p-button-raised p-button-primary"
              pTooltip="Cadastrar dividendos" tooltipPosition="top" routerLink="/controle-dividendos/novo"></button>
    </div>

  </p-card>
</div>
