<div class="container">
  <p-card>
    <form autocomplete="off" (ngSubmit)="pesquisar();">
      <div class="p-col-12">
        <h2>Lançamentos</h2>
      </div>

      <div class="p-col-12 p-fluid">
        <label>Descrição</label>
        <input type="text" pInputText class="p-inputtext-sm" placeholder="Pesquisa por descrição" name="descricao" [(ngModel)]="descricao">
      </div>


      <div class="p-col-12">
        <div class="p-d-flex p-flex-column p-flex-md-row">

          <div class="p-mb-2 p-mr-2 p-fluid">
            <label style="display: block;">Vencimento</label>
            <p-calendar
                    name="vencimentoInicio"
                    [(ngModel)]="dataVencimentoInicio"
                    dateFormat="dd/mm/yy"
                    [readonlyInput]="true"
                    [showIcon]="true"></p-calendar>
          </div>

          <div class="p-mb-2 p-mr-2 p-fluid" style="margin-top: 30px;">
            <label>Até: </label>
          </div>

          <div class="p-mb-2 p-mr-2 p-fluid">
            <label style="color: white;" class="p-fluid">Data Fim</label>
            <p-calendar
                name="vencimentoFim"
                [(ngModel)]="dataVencimentoFim"
                dateFormat="dd/mm/yy"
                [readonlyInput]="true"
                [showIcon]="true"></p-calendar>
          </div>



          <div class="p-mb-2 p-mr-2 p-fluid">
            <label class="p-fluid">Método cobrança</label>
            <p-dropdown
            [options]="metodoCobranca"
            filter="true"
            placeholder="Selecione"></p-dropdown>
          </div>

          <div class="p-mb-2 p-mr-2 p-fluid">
            <label class="p-fluid">Status</label>
            <p-dropdown
            name="situacao"
            [(ngModel)]="situacao"
            [options]="status"
            placeholder="Selecione"></p-dropdown>
          </div>

          <div class="p-mb-2 p-mr-2 p-fluid">
            <label class="p-fluid">chave de pesquisa</label>
            <input type="text" pInputText class="p-inputtext-sm"
            placeholder="Chave de pesquisa" name="chavePesquisa" [(ngModel)]="chavePesquisa" #chavePesquisas>
          </div>

        </div>
      </div>


      <div class="p-col-12">
        <button pButton type="submit" label="Pesquisar" icon="pi pi-search" class="p-button-raised p-button-rounded"></button>
      </div>

    </form>

    <div class="p-col-12" style="color: white;">----------------------</div>

  <div class="p-grid">
    <div class="p=col=12">
      <p-table
      #tabela
      [value] = lancamentos
      styleClass="p-datatable-gridlines"
      [paginator]="true"
      [rows]="5"
      selectionMode="single"
      [responsive]="true"
      selectionMode="single">
      <ng-template pTemplate="emptymessage">
        Nenhum lançamento encontrado
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
            <th>Descricao</th>
            <th class="col-situacao-header">Status</th>
            <th class="col-parcela-header">Parcela</th>
            <th class="col-data-header">Vencimento</th>
            <th class="col-data-header">Pagamento</th>
            <th class="col-valor-header">Valor</th>
            <th class="col-acoes-header">Ações</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-lancamentos>
        <tr>
            <td>{{lancamentos.descricao}}</td>
            <td class="col-situacao-content">{{lancamentos.situacao}}</td>
            <td class="col-parcela-content">{{lancamentos.numeroParcela}}/{{lancamentos.quantidadeParcelas}}</td>
            <td class="col-data-content">{{lancamentos.datavencimento | date: 'dd/MM/y'}}</td>
            <td class="col-data-content">{{lancamentos.dataPagamento | date: 'dd/MM/y'}}</td>
            <td class="col-valor-content">{{lancamentos.valor | currency: 'BRL'}}</td>

            <td class="col-acoes">
              <button pButton icon="pi pi-pencil" class="p-button-raised p-button-rounded p-button-secondary p-mr-1 p-button-outlined"
              pTooltip="Editar Lançamento" tooltipPosition="top" [routerLink]="['/lancamentos', lancamentos.lancamentoId]"></button>



              <button pButton icon="pi pi-trash" class="p-button-raised p-button-rounded p-button-danger p-mr-1 p-button-outlined"
              pTooltip="Remover lançamento" tooltipPosition="top" (click)="confirmarExclusao(lancamentos)"></button>

              <button pButton icon="pi pi-search" class="p-button-raised p-button-rounded p-button-help p-mr-1 p-button-outlined"
              pTooltip="Pesquisar chave" tooltipPosition="top" (click)="buscarPorCodigo(lancamentos.lancamentoId)"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <h5 style="color: teal;">Valor a pagar no mês: {{ valorAPagarNoMes | currency: 'BRL'}}</h5>
  </ng-template>
    <ng-template pTemplate="paginatorright">
      <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
    </ng-template>

      </p-table>
    </div>

    <div class="p-col-12">
      <button pButton label="Novo Lançamento" icon="pi pi-plus-circle" class="p-button-raised p-button-primary"
              pTooltip="Novo lançamento" tooltipPosition="top" routerLink="/lancamentos/novo"></button>

              <button pButton label="Fechar em lote" icon="pi pi-exclamation-triangle" class="p-button-raised p-button-danger"
              pTooltip="Fechar em lote" tooltipPosition="top"></button>
    </div>
  </div>

</p-card>
</div>
