<div class="container body-content">

  <p-card>
    <form autocomplete="off">

      <div class="p-col-12">
        <h2>Usuários</h2>
      </div>

      <div class="p-col-12 p-fluid">
        <label>Nome usuário</label>
        <input type="text" pInputText class="p-inputtext-sm" placeholder="Pesquisa por nome de usuário" name="usuario">
      </div>
      <div class="p-col-12">
        <button pButton type="submit" label="Pesquisar" icon="pi pi-search" class="p-button-raised p-button-rounded"></button>
      </div>

    </form>

    <div class="p-col-12" style="color: white;">----------------------</div>

    <div class="p-grid">
      <div class="p-col-12">
      <p-table
        #tabela
        [value] = usuarios
        styleClass="p-datatable-gridlines"
        [paginator]="true"
        [rows]="5"
        selectionMode="single"
        [responsive]="true"
        selectionMode="single"
        styleClass="p-datatable-sm">
        <ng-template pTemplate="emptymessage">
          Nenhum usuário encontrado
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
              <th class="col-pessoa-header">Nome Pessoa</th>
              <th class="col-pessoa-header">Nome usuário</th>
              <th class="col-email-header">Status</th>
              <th class="col-data-header">Ações</th>
          </tr>
          </ng-template>
          <ng-template pTemplate="body" let-usuarios>
              <tr>
                  <td class="col-pessoa-content">{{usuarios.pessoa.nomePessoa}}</td>
                  <td class="col-pessoa-content">{{usuarios.nomeUsuario}}</td>
                  <td><a href="javascript:;" [pTooltip]="usuarios.status ? 'Desativar' : 'Ativar'"
                    tooltipPosition="top"
                    (click)="alterarStatusAtivo(usuarios)">
                      {{usuarios.status ? 'ATIVO' : 'INATIVO'}}</a></td>

                  <td class="col-acoes">
                    <button pButton icon="pi pi-pencil" class="p-button-raised p-button-rounded p-button-secondary p-mr-1 p-button-outlined"
                    pTooltip="Editar Usuário" tooltipPosition="top" [routerLink]="['/usuarios', usuarios.usuarioId]"></button>

                    <button pButton icon="pi pi-trash" class="p-button-raised p-button-rounded p-button-danger p-mr-1 p-button-outlined"
                    pTooltip="Remover Pessoa" tooltipPosition="top" (click)="confirmarExclusao(pessoas)"></button>
                  </td>
              </tr>
          </ng-template>

      </p-table>
      </div>
    </div>

    <div class="p-col-12">
      <button pButton label="Cadastrar usuário" icon="pi pi-plus-circle" class="p-button-raised p-button-primary"
              pTooltip="Cadastrar usuário" tooltipPosition="top" routerLink="/usuarios/novo"></button>
    </div>

  </p-card>

</div>
