<div class="container_02 body-content">
  <p-card>



    <!-- ---------------------------------------------------------------  NOVO PAINEL ---------------------------------------------------->

      <section>

        <div class="content-dashboard">
          <div class="titulo-secao">
            <h2>Dashboard financeiro</h2>
          <br/>
          <hr>
          <br/>
          </div>
        </div>

        <h3>Receitas</h3>


        <div class="box-info">

          <div class="box-info-single color-blue-novo p-shadow-2">
            <div class="info-text">
              <h3>Receber no mês</h3>
              <p>R$ {{ valorAReceberNoMes | currency: 'BRL' :'' }}</p>
            </div>
            <i class="pi pi-dollar"></i>
          </div>

          <div class="box-info-single color-green-novo p-shadow-2">
            <div class="info-text">
              <h3>Total recebido</h3>
              <p>R$ {{ valorRecebidoNoMes | currency: 'BRL' :'' }}</p>
            </div>
            <i class="pi pi-thumbs-up"></i>
          </div>

          <div class="box-info-single color-red-novo p-shadow-2">
            <div class="info-text">
              <h3>Total atrasado</h3>
              <p>R$ {{ valorAtrasadoNoMes | currency: 'BRL' :'' }}</p>
            </div>
            <i class="pi pi-thumbs-down"></i>
          </div>

          <div class="box-info-single color-grey-novo p-shadow-2">
            <div class="info-text">
              <h3>Total a receber </h3>
              <p>R$ {{valorAReceberNoAno | currency: 'BRL' :'' }}</p>
            </div>
            <i class="pi pi-file"></i>
          </div>

          <div class="box-info-single color-black-novo p-shadow-2">
            <div class="info-text">
              <h3>Receita total do ano</h3>
              <p>R$ {{receitaTotalPorAnovalue | currency: 'BRL' :'' }}</p>
            </div>
            <i class="pi pi-chart-line"></i>
          </div>

        </div>
<!--------------------------------------------------------------------------------------------------------------------------------------------->
        <br/>
        <h3>Despesas</h3>

        <div class="box-info">

          <div class="box-info-single color-blue-novo p-shadow-2">
            <div class="info-text">
              <h3>Pagar no mês</h3>
              <p>R$ {{ valorApagarNoMes | currency: 'BRL' :'' }}</p>
            </div>
            <i class="pi pi-money-bill"></i>
          </div>

          <div class="box-info-single color-green-novo p-shadow-2">
            <div class="info-text">
              <h3>Total Pago</h3>
              <p>R$ {{ valorPagoNoMes | currency: 'BRL' :'' }}</p>
            </div>
            <i class="pi pi-thumbs-up"></i>
          </div>

          <div class="box-info-single color-red-novo p-shadow-2">
            <div class="info-text">
              <h3>Total vencido</h3>
              <p>R$ {{ valorVencidoNoMes | currency: 'BRL' :'' }}</p>
            </div>
            <i class="pi pi-thumbs-down"></i>
          </div>

          <div class="box-info-single color-grey-novo p-shadow-2">
            <div class="info-text">
              <h3>Total devedor</h3>
              <p>R$ {{valorDevedorPorAno | currency: 'BRL' :'' }}</p>
            </div>
            <i class="pi pi-globe"></i>
          </div>

          <div class="box-info-single color-black-novo p-shadow-2">
            <div class="info-text">
              <h3>Despesa total do ano</h3>
              <p>R$ {{valorPagoPorAno | currency: 'BRL' :'' }}</p>
            </div>
            <i class="pi pi-star"></i>
          </div>



        </div>

      </section>

      <br/>
      <hr>
      <br/>

    <!-- --------------------------------------------------------------- FIM NOVO PAINEL ---------------------------------------------------->

    <form autocomplete="off">
      <div class="p-col-12">
        <label>Filtro</label>
        <p-calendar
          class="p-mb-2 p-mr-2"
          [(ngModel)]="dataSelecionada"
          view="month"
          name="dataFiltro"
          dateFormat="mm/yy"
          [readonlyInput]="true"
          [showIcon]="true">
        </p-calendar>

        <button pButton type="submit" label="Pesquisar" icon="pi pi-search" class="p-button-raised p-button-rounded p-mr-2" (click)="atualizarDashboard();"></button>
      </div>
    </form>

    <BR/>
    <BR/>



    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-6">

        <div class="p-col-12">
          <label>Percentual pago no mês</label>
          <p-progressBar [value]="value" styleClass="progress-bar-green p-shadow-2"></p-progressBar>
        </div>

      </div>

      <div class="p-field p-col-12 p-md-6">

        <div class="p-col-12">
          <label>Percentual recebido no mês</label>
          <p-progressBar [value]="valueRecebidoNoMes" styleClass="progress-bar-blue p-shadow-2"></p-progressBar>
        </div>

      </div>

    </div>





  <BR/>
  <BR/>


  <div class="p-shadow-1">
    <p-panel>

      <div class="p-fluid p-formgrid p-grid">

        <div class="p-field p-col-12 p-md-6">
          <div class="p-shadow-1">
            <p-panel header="Lançamento por categoria - DESPESA">
              <p-chart type="pie" [data]="graficoCategoriaMes"></p-chart>
            </p-panel>
          </div>
        </div>

        <div class="p-field p-col-12 p-md-6">
          <div class="p-shadow-1">
            <p-panel header="Lançamento por método de cobrança - DESPESA">
              <p-chart type="pie" [data]="graficoMetodoCobrancaMes"></p-chart>
            </p-panel>
          </div>
        </div>

      </div>



  <BR/>

  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12 p-md-6">
      <div class="p-shadow-1">
        <p-panel header="Lançamentos por dia. (Mês: {{nomeMes}})">
          <p-chart type="line" [data]="lancamentosPorDia"></p-chart>
        </p-panel>
      </div>
    </div>
    <div class="p-field p-col-12 p-md-6">
      <div class="p-shadow-1">
        <p-panel header="Situação no mês. (Mês: {{nomeMes}})">
          <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
        </p-panel>
      </div>
    </div>

  </div>

  <BR/>

  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12 p-md-6">
      <div class="p-shadow-1">
        <p-panel header="Lançamentos por mês">
          <p-chart type="line" [data]="graficoReceitaDespesaPorMesAno" ariaLabbel="graficoReceitaDespesaPorMesAno"></p-chart>
        </p-panel>
      </div>
    </div>
    <div class="p-field p-col-12 p-md-6">
      <div class="p-shadow-1">

        <p-panel header="Despesas / Receitas por ano">
          <p-chart type="bar" [data]="graficoReceitaDespesaPorAno"  [options]="basicOptions"></p-chart>
        </p-panel>
      </div>
    </div>

  </div>

  </p-panel>
  </div>

  <BR/>

  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12 p-md-12">
      <div>
        <p-panel header="Total por mês">
          <div class="p=col=12">
            <p-table
            #tabela
            [value] = totaisPorAno
            styleClass="p-datatable-gridlines p-datatable-sm"
            [paginator]="false"
            [rows]="5"
            selectionMode="single"
            [responsive]="true"
            selectionMode="single">
            <ng-template pTemplate="emptymessage">
              Nenhum valor encontrado
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                  <th class="col-mes-header">JAN</th>
                  <th class="col-mes-header">FEV</th>
                  <th class="col-mes-header">MAR</th>
                  <th class="col-mes-header">ABR</th>
                  <th class="col-mes-header">MAI</th>
                  <th class="col-mes-header">JUN</th>
                  <th class="col-mes-header">JUL</th>
                  <th class="col-mes-header">AGO</th>
                  <th class="col-mes-header">SET</th>
                  <th class="col-mes-header">OUT</th>
                  <th class="col-mes-header">NOV</th>
                  <th class="col-mes-header">DEZ</th>
                  <th class="col-mes-header">TOTAL</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-totaisPorAno>
              <tr>
                  <td class="col-mes-content">{{totaisPorAno.jan | currency: 'BRL'}}</td>
                  <td class="col-mes-content">{{totaisPorAno.fev  | currency: 'BRL'}}</td>
                  <td class="col-mes-content">{{totaisPorAno.mar  | currency: 'BRL'}}</td>
                  <td class="col-mes-content">{{totaisPorAno.abr  | currency: 'BRL'}}</td>
                  <td class="col-mes-content">{{totaisPorAno.mai  | currency: 'BRL'}}</td>
                  <td class="col-mes-content">{{totaisPorAno.jun  | currency: 'BRL'}}</td>
                  <td class="col-mes-content">{{totaisPorAno.jul  | currency: 'BRL'}}</td>
                  <td class="col-mes-content">{{totaisPorAno.ago  | currency: 'BRL'}}</td>
                  <td class="col-mes-content">{{totaisPorAno.set  | currency: 'BRL'}}</td>
                  <td class="col-mes-content">{{totaisPorAno.out  | currency: 'BRL'}}</td>
                  <td class="col-mes-content">{{totaisPorAno.nov  | currency: 'BRL'}}</td>
                  <td class="col-mes-content">{{totaisPorAno.dez  | currency: 'BRL'}}</td>
                  <td class="col-total-content">{{totaisPorAno.total  | currency: 'BRL'}}</td>


              </tr>
          </ng-template>

            </p-table>
          </div>
        </p-panel>
      </div>
    </div>

      <div class="p-field p-col-12 p-md-6">
        <div>
          <p-panel header="Totais por método de cobrança no mês">
            <div class="p=col=12">
              <p-table
              #tabela
              [value] = totalMetodoCobrancaMes
              styleClass="p-datatable-gridlines"
              [paginator]="false"
              [rows]="5"
              selectionMode="single"
              [responsive]="true"
              selectionMode="single">
              <ng-template pTemplate="emptymessage">
                Nenhum valor encontrado
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                    <th class="col-mes-header">Método de cobrança</th>
                    <th class="col-mes-header">TOTAL</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-totaisMetodoCob>
                <tr>
                    <td class="col-mes-content">{{totaisMetodoCob.nomeMetodoCobranca}}</td>
                    <td class="col-total-content">{{totaisMetodoCob.totais  | currency: 'BRL'}}</td>


                </tr>
            </ng-template>

              </p-table>
            </div>
          </p-panel>
        </div>
      </div>

      <div class="p-field p-col-12 p-md-6">

      </div>


      <div class="p-field p-col-12 p-md-12">
        <div>
          <p-panel header="Totais por método de cobrança no mês">
            <div class="p=col=12">


              <p-table [value]="products" dataKey="name" responsiveLayout="scroll" styleClass="p-datatable-gridlines">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 4rem"></th>
                        <th>Método de Cobrança</th>
                        <th>Valor</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-expanded="expanded">
                    <tr>
                        <td>
                            <button type="button" pButton pRipple [pRowToggler]="product" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                        </td>
                        <td class="col-total-content">{{product.nomeMetodoCobranca}}</td>
                        <td class="col-total-content">{{product.totais | currency: 'BRL'}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-product>
                    <tr>
                        <td colspan="7">
                            <div class="p-field">
                                <p-table [value]="product.lancMetodoCobrancaMes" dataKey="id">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Método de cobrança </th>
                                            <th>Lançamento</th>
                                            <th>Parcela</th>
                                            <th>Situação</th>
                                            <th>Valor</th>
                                            <th></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-order>
                                        <tr>
                                            <td>{{order.nomeMetodoCobranca}}</td>
                                            <td>{{order.descricaoLancamento}}</td>
                                            <td>{{order.parcela}}</td>
                                            <td>{{order.situacao}}</td>
                                            <td>{{order.valor | currency: 'BRL'}}</td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td colspan="6">Nenhum valor encontrado</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>



            </div>
          </p-panel>
        </div>
      </div>




  </div>












  </p-card>
</div>
