@media (min-width: 1200px){
  .container_02 {
    width: 1700px;
    margin: 0 auto;
  }
}

*{
  margin: 0;
  box-sizing: border-box;
}

.content-dashboard {
  width: 100%;
  background-color: white;
  padding: 20px;
}
.titulo-secao {
  background-color: white;
  padding: 10px;
}

.titulo-secao h2{
  font-size: 25px;
}

.box-info {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.box-info-single {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  color: white;
  width: 100%;
  margin: 0 5px;
  padding: 30px;
}

.box-info-single i {
  font-size: 25px;
}

.color-blue-novo {
  background: linear-gradient(45deg, #4099ff, #73b4ff);
}

.color-green-novo {
  background: linear-gradient(45deg, #27ba9d, #59e0c5);
}

.color-red-novo {
  background: linear-gradient(45deg, #FF5370, #ff869a);
}

.color-grey-novo {
  background: linear-gradient(45deg, #999496, #b5b1b3);
}

.color-black-novo {
  background: linear-gradient(45deg, #363435, #706d6f);
}

:host ::ng-deep .p-progressbar.progress-bar-green .p-progressbar-value {
  background-color: rgb(116, 211, 155) !important;
}

:host ::ng-deep .p-progressbar.progress-bar-blue .p-progressbar-value {
  background-color: rgb(134, 174, 248) !important;
}









.card_topo_red {
  background-color: rgb(141, 8, 8) !important;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
}

.card_centro_red {
  background-color: rgb(100, 5, 5) !important;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0px;
  padding: 20px;
  font-size: 35px;
}

.card_topo_blue {
  background-color: rgb(4, 39, 116) !important;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
}

.card_centro_blue {
  background-color: rgb(31, 94, 189) !important;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0px;
  padding: 20px;
  font-size: 35px;
}

.card_topo_green {
  background-color: rgb(6, 94, 46) !important;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
}

.card_centro_green {
  background-color: rgb(34, 119, 69) !important;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0px;
  padding: 20px;
  font-size: 35px;
}

.card_topo_black {
  background-color: rgb(0, 0, 0) !important;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
}

.card_centro_black {
  background-color: rgb(29, 29, 29) !important;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0px;
  padding: 20px;
  font-size: 35px;
}

.card_topo_gray {
  background-color: rgb(80, 105, 116) !important;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
}

.card_centro_gray {
  background-color: rgb(80, 105, 116) !important;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0px;
  padding: 20px;
  font-size: 35px;
}

.card {
  margin: 0;
  padding: 0px;
}

.col-mes-header {
  width: 80px;
}

.col-mes-content {
  text-align: center;
}

.col-total-content {
  text-align: center;
  font-weight: bold;
}

.body-content {
  margin-top: 79px; /* Ajuste conforme a altura da sua barra de navegação */
  /*padding: 2px; /* Adicione um espaçamento superior ao conteúdo para compensar a barra de navegação fixa */
  background-color: white; /* Adicione isso para cobrir a barra de navegação fixa */
  position: relative; /* Adicione isso para garantir que o conteúdo não seja cortado pela barra de navegação */
  z-index: 1; /* Adicione isso para garantir que o conteúdo esteja acima da barra de navegação */
}
