<div class="container_02">
  <p-card>
    <h2>Dashboard</h2>

    <form autocomplete="off">
      <div class="p-col-12">
        <label>Filtro</label>
        <p-calendar
          class="p-mb-2 p-mr-2"
          [(ngModel)]="dataSelecionada"
          view="month"
          name="dataFiltro"
          dateFormat="mm/yy"
          [readonlyInput]="true"
          [showIcon]="true">
        </p-calendar>

        <button pButton type="submit" label="Pesquisar" icon="pi pi-search" class="p-button-raised p-button-rounded p-mr-2" (click)="atualizarDashboard();"></button>
        <button pButton type="submit" label="teste" icon="pi pi-search" class="p-button-raised p-button-rounded p-mr-2" (click)="testeDatas();"></button>
      </div>
    </form>

    <div><label style="color: white;">----------------------</label></div>
    <div><label style="color: white;">----------------------</label></div>

    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-2">
          <p-card>
            <ng-template pTemplate="header">
              <div class="card_topo_blue">Valor a pagar no mês</div>
          </ng-template>
          <div class="card_centro_blue">
            {{ valorApagarNoMes | currency: 'BRL' :'' }}
          </div>
          </p-card>
      </div>


      <div class="p-field p-col-12 p-md-2">
        <p-card>
          <ng-template pTemplate="header">
            <div class="card_topo_green">Total Pago</div>
        </ng-template>
        <div class="card_centro_green">
          {{ valorPagoNoMes | currency: 'BRL' :'' }}
        </div>
        </p-card>
      </div>


      <div class="p-field p-col-12 p-md-2">
        <p-card>
          <ng-template pTemplate="header">
            <div class="card_topo_red">Total vencido</div>
        </ng-template>
        <div class="card_centro_red">
          {{ valorVencidoNoMes | currency: 'BRL' :'' }}
        </div>
        </p-card>
      </div>


      <div class="p-field p-col-12 p-md-2">
        <p-card>
          <ng-template pTemplate="header">
            <div class="card_topo_black">Total devedor</div>
        </ng-template>
        <div class="card_centro_black">
          {{valorDevedorPorAno | currency: 'BRL' :'' }}
        </div>
        </p-card>
      </div>
  </div>

  <div class="p-col-12">
    <label>Percentual pago no mês</label>
    <p-progressBar [value]="value"></p-progressBar>
  </div>


  <div><label style="color: white;">-----------------------</label></div>
  <div><label style="color: white;">-----------------------</label></div>

  <div class="p-col-12">
    <h2>Dashboard</h2>
  </div>


  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12 p-md-6">
      <div>
        <p-panel header="Lançamento por categoria">
          <p-chart type="pie" [data]="graficoCategoriaMes"></p-chart>
        </p-panel>
      </div>
    </div>
    <div class="p-field p-col-12 p-md-6">
      <div>
        <p-panel header="Lançamento por método de cobrança">
          <p-chart type="pie" [data]="graficoMetodoCobrancaMes"></p-chart>
        </p-panel>
      </div>
    </div>

  </div>


  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12 p-md-6">
      <div>
        <p-panel header="Lançamentos por dia">
          <p-chart type="line" [data]="lancamentosPorDia"></p-chart>
        </p-panel>
      </div>
    </div>
    <div class="p-field p-col-12 p-md-6">
      <div>
        <p-panel header="Situação no mês">
          <p-chart type="horizontalBar" [data]="basicData" [options]="basicOptions"></p-chart>
        </p-panel>
      </div>
    </div>

  </div>


  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12 p-md-12">
      <div>
        <p-panel header="Total por mês">
          <div class="p=col=12">
            <p-table
            #tabela
            [value] = totaisPorAno
            styleClass="p-datatable-gridlines"
            [paginator]="false"
            [rows]="5"
            selectionMode="single"
            [responsive]="true"
            selectionMode="single">
            <ng-template pTemplate="emptymessage">
              Nenhum valor encontrado
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                  <th class="col-mes-header">JAN</th>
                  <th class="col-mes-header">FEV</th>
                  <th class="col-mes-header">MAR</th>
                  <th class="col-mes-header">ABR</th>
                  <th class="col-mes-header">MAI</th>
                  <th class="col-mes-header">JUN</th>
                  <th class="col-mes-header">JUL</th>
                  <th class="col-mes-header">AGO</th>
                  <th class="col-mes-header">SET</th>
                  <th class="col-mes-header">OUT</th>
                  <th class="col-mes-header">NOV</th>
                  <th class="col-mes-header">DEZ</th>
                  <th class="col-mes-header">TOTAL</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-totaisPorAno>
              <tr>
                  <td class="col-mes-content">{{totaisPorAno.jan | currency: 'BRL'}}</td>
                  <td class="col-mes-content">{{totaisPorAno.fev  | currency: 'BRL'}}</td>
                  <td class="col-mes-content">{{totaisPorAno.mar  | currency: 'BRL'}}</td>
                  <td class="col-mes-content">{{totaisPorAno.abr  | currency: 'BRL'}}</td>
                  <td class="col-mes-content">{{totaisPorAno.mai  | currency: 'BRL'}}</td>
                  <td class="col-mes-content">{{totaisPorAno.jun  | currency: 'BRL'}}</td>
                  <td class="col-mes-content">{{totaisPorAno.jul  | currency: 'BRL'}}</td>
                  <td class="col-mes-content">{{totaisPorAno.ago  | currency: 'BRL'}}</td>
                  <td class="col-mes-content">{{totaisPorAno.set  | currency: 'BRL'}}</td>
                  <td class="col-mes-content">{{totaisPorAno.out  | currency: 'BRL'}}</td>
                  <td class="col-mes-content">{{totaisPorAno.nov  | currency: 'BRL'}}</td>
                  <td class="col-mes-content">{{totaisPorAno.dez  | currency: 'BRL'}}</td>
                  <td class="col-total-content">{{totaisPorAno.total  | currency: 'BRL'}}</td>


              </tr>
          </ng-template>

            </p-table>
          </div>
        </p-panel>
      </div>
    </div>

      <div class="p-field p-col-12 p-md-6">
        <div>
          <p-panel header="Totais por método de cobrança no mês">
            <div class="p=col=12">
              <p-table
              #tabela
              [value] = totalMetodoCobrancaMes
              styleClass="p-datatable-gridlines"
              [paginator]="false"
              [rows]="5"
              selectionMode="single"
              [responsive]="true"
              selectionMode="single">
              <ng-template pTemplate="emptymessage">
                Nenhum valor encontrado
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                    <th class="col-mes-header">Método de cobrança</th>
                    <th class="col-mes-header">TOTAL</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-totaisMetodoCob>
                <tr>
                    <td class="col-mes-content">{{totaisMetodoCob.nomeMetodoCobranca}}</td>
                    <td class="col-total-content">{{totaisMetodoCob.totais  | currency: 'BRL'}}</td>


                </tr>
            </ng-template>

              </p-table>
            </div>
          </p-panel>
        </div>
      </div>

      <div class="p-field p-col-12 p-md-6">

      </div>


      <div class="p-field p-col-12 p-md-12">
        <div>
          <p-panel header="Totais por método de cobrança no mês">
            <div class="p=col=12">


              <p-table [value]="products" dataKey="name" responsiveLayout="scroll" styleClass="p-datatable-gridlines">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 4rem"></th>
                        <th>Método de Cobrança</th>
                        <th>Valor</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-expanded="expanded">
                    <tr>
                        <td>
                            <button type="button" pButton pRipple [pRowToggler]="product" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                        </td>
                        <td class="col-total-content">{{product.nomeMetodoCobranca}}</td>
                        <td class="col-total-content">{{product.totais | currency: 'BRL'}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-product>
                    <tr>
                        <td colspan="7">
                            <div class="p-field">
                                <p-table [value]="product.lancMetodoCobrancaMes" dataKey="id">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Método de cobrança </th>
                                            <th>Lançamento</th>
                                            <th>Parcela</th>
                                            <th>Situação</th>
                                            <th>Valor</th>
                                            <th></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-order>
                                        <tr>
                                            <td>{{order.nomeMetodoCobranca}}</td>
                                            <td>{{order.descricaoLancamento}}</td>
                                            <td>{{order.parcela}}</td>
                                            <td>{{order.situacao}}</td>
                                            <td>{{order.valor | currency: 'BRL'}}</td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td colspan="6">Nenhum valor encontrado</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>



            </div>
          </p-panel>
        </div>
      </div>




  </div>












  </p-card>
</div>
