<div class="container_02">
  <p-card>
    <h2>Dashboard</h2>

    <form autocomplete="off">
      <div class="p-col-12">
        <label>Filtro</label>
        <p-calendar
          class="p-mb-2 p-mr-2"
          [(ngModel)]="dataSelecionada"
          view="month"
          name="dataFiltro"
          dateFormat="mm/yy"
          [readonlyInput]="true"
          [showIcon]="true">
        </p-calendar>

        <button pButton type="submit" label="Pesquisar" icon="pi pi-search" class="p-button-raised p-button-rounded p-mr-2" (click)="atualizarDashboard();"></button>
        <button pButton type="submit" label="teste" icon="pi pi-search" class="p-button-raised p-button-rounded p-mr-2" (click)="testeDatas();"></button>
      </div>
    </form>

    <div><label style="color: white;">----------------------</label></div>
    <div><label style="color: white;">----------------------</label></div>

    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-2">
          <p-card>
            <ng-template pTemplate="header">
              <div class="card_topo_blue">Valor a pagar no mês</div>
          </ng-template>
          <div class="card_centro_blue">
            {{ valorApagarNoMes | currency: 'BRL' :'' }}
          </div>
          </p-card>
      </div>


      <div class="p-field p-col-12 p-md-2">
        <p-card>
          <ng-template pTemplate="header">
            <div class="card_topo_green">Total Pago</div>
        </ng-template>
        <div class="card_centro_green">
          {{ valorPagoNoMes | currency: 'BRL' :'' }}
        </div>
        </p-card>
      </div>


      <div class="p-field p-col-12 p-md-2">
        <p-card>
          <ng-template pTemplate="header">
            <div class="card_topo_red">Total vencido</div>
        </ng-template>
        <div class="card_centro_red">
          {{ valorVencidoNoMes | currency: 'BRL' :'' }}
        </div>
        </p-card>
      </div>


      <div class="p-field p-col-12 p-md-2">
        <p-card>
          <ng-template pTemplate="header">
            <div class="card_topo_black">Total devedor</div>
        </ng-template>
        <div class="card_centro_black">
          {{valorDevedorPorAno | currency: 'BRL' :'' }}
        </div>
        </p-card>
      </div>
  </div>

  <div class="p-col-12">
    <label>Percentual pago no mês</label>
    <p-progressBar [value]="value"></p-progressBar>
  </div>


  <div><label style="color: white;">-----------------------</label></div>
  <div><label style="color: white;">-----------------------</label></div>

  <div class="p-col-12">
    <h2>Dashboard</h2>
  </div>

  <div class="p-col-5">
    <p-panel header="Lançamento por categoria">
      <p-chart type="pie" [data]="data"></p-chart>
  </p-panel>

  </div>





  </p-card>
</div>
