<nav class="navbar">
  <div>
    <div class="p-grid">
      <div class="p-col-12">
        <!-- <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"><i class="pi pi-bars"></i></a>-->
        <!-- <p-tabMenu [model]="items"  [activeItem]="items[0]"></p-tabMenu> -->
        <p-menubar [model]="items">
          <span class="p-overlay-badge">
            <!-- Coloque o botão do menu aqui -->
            <button type="button" pButton icon="pi pi-bell" class="p-button-secondary p-button-rounded p-button-outlined"
            (click)="menu.toggle($event)"></button>

			      <span class="p-overlay-badge" style="position: absolute; top: 0; right: 0;" *ngIf="qtdAlertasBadge !== 0">
              <span class="p-badge p-badge-danger">{{qtdAlertasBadge}}</span>
            </span>

          </span>

          <label style="color: white;">--------</label>
          <button pButton icon="pi pi-power-off" class="p-button-secondary" (click)="logout();"></button>
        </p-menubar>


      </div>
    </div>
  </div>

  <!--<ul class="navbar-menu" [hidden]="exibindoMenu">
    <li class="navbar-usuario">Luciano Carrafa</li>
    <li class="navbar-menuitem"><a href="#">DashBoard</a></li>
    <li class="navbar-menuitem"><a href="#">Pessoas</a></li>
    <li class="navbar-menuitem"><a href="#">Lançamentos</a></li>
    <li class="navbar-menuitem"><a href="#">Logout</a></li>
  </ul>-->

  <p-sidebar [(visible)]="exibindoMenu" position="left">
    <ul class="navbar-menu">
      <li class="navbar-usuario">{{ auth.jwtPayload?.nome }}</li>
      <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/dashboard" (click)="exibindoMenu = !exibindoMenu">DashBoard</a></li>
      <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/pessoas" (click)="exibindoMenu = !exibindoMenu">Pessoas</a></li>
      <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/lancamentos" (click)="exibindoMenu = !exibindoMenu">Lançamentos</a></li>
      <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/categorias" (click)="exibindoMenu = !exibindoMenu">Categorias</a></li>
      <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/metodo-de-cobranca" (click)="exibindoMenu = !exibindoMenu">Método de cobrança</a></li>

      <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/usuarios" (click)="exibindoMenu = !exibindoMenu">Usuários</a></li>
      <li class="navbar-menuitem-invest">¯¯¯¯¯¯¯¯¯  Investimentos  ¯¯¯¯¯¯¯¯</li>
      <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/dashboard-investimentos" (click)="exibindoMenu = !exibindoMenu">Dasboard Investimentos</a></li>
      <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/emissores" (click)="exibindoMenu = !exibindoMenu">Emissores</a></li>
      <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/setores" (click)="exibindoMenu = !exibindoMenu">Setores</a></li>
      <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/segmentos" (click)="exibindoMenu = !exibindoMenu">Segmentos</a></li>
      <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/produto-renda-fixa" (click)="exibindoMenu = !exibindoMenu">Produto Renda Fixa</a></li>
      <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/produto-renda-variavel" (click)="exibindoMenu = !exibindoMenu">Produto Renda Variável</a></li>
      <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/ordem-renda-fixa" (click)="exibindoMenu = !exibindoMenu">Controle Renda Fixa</a></li>
      <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/historico-renda-fixa" (click)="exibindoMenu = !exibindoMenu">Histórico Renda Fixa</a></li>
      <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/ordens-de-compra" (click)="exibindoMenu = !exibindoMenu">Ordens de compra RV</a></li>
      <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/controle-dividendos" (click)="exibindoMenu = !exibindoMenu">Controle Dividendos</a></li>

      <li class="navbar-menuitem"><a href="javascript:;" (click)="logout()">Logout</a></li>

    </ul>
</p-sidebar>
</nav>

<!-- Este é o p-menu que você quer posicionar -->
<p-menu #menu [popup]="true" [model]="items2"></p-menu>
