<div><label [ngStyle]="{'color': temaColor}">----------------------</label></div>
<div class="container2 body2 body-content" [ngStyle]="{'background-color': temaColor}">
  <p-tabView>
    <p-tabPanel header="Dados gerais" leftIcon="pi pi-chart-bar">
      <p-card>
        <h2>Dashboard de investimentos</h2>

        <form autocomplete="off">
          <div class="p-col-12">
            <label>Filtro</label>
            <p-calendar
              class="p-mb-2 p-mr-2"
              [(ngModel)]="dataSelecionada"
              view="month"
              name="dataFiltro"
              dateFormat="mm/yy"
              [readonlyInput]="true"
              [showIcon]="true">
            </p-calendar>

            <button pButton type="submit" label="Pesquisar" icon="pi pi-search" class="p-button-raised p-button-rounded p-mr-2" (click)="atualizarDashboard();"></button>
          </div>
        </form>

        <div><label [ngStyle]="{'color': temaColor}">----------------------</label></div>
        <div><label [ngStyle]="{'color': temaColor}">----------------------</label></div>

        <!-----------------------------------------Valor Total RF Aplicado----------------------------------------------------------------------------->

        <div class="p-col-12">
          <div class="p-d-flex p-flex-column p-flex-md-row">

            <div class="p-col-2">
              <div class="card">
              <div class="card-block">
              <div class="row align-items-center">
              <div class="p-col-12">
              <h4 class="text-c-green f-w-600">Valor Total RF Aplicado</h4>
              </div>
              <div class="p-col-8 text-right">
              <i class="feather icon-file-text f-28"></i>
              </div>
              </div>
              </div>
              <div class="card-footer bg-c-green">
              <div class="row align-items-center">
              <div class="p-col-12">
              <p class="text-white m-b-0">{{valorTotalAplicadoRF | currency: 'BRL' }}</p>
              </div>
              <div class="p-col-8 text-right">
              <i class="feather icon-trending-up text-white f-16"></i>
              </div>
              </div>
              </div>
              </div>
              </div>

              <!---------------------------------------------Valor total RF Resgatado----------------------------------------------------------------------------------->

              <div class="p-col-2">
                <div class="card">
                <div class="card-block">
                <div class="row align-items-center">
                <div class="p-col-12">
                <h4 class="text-c-green f-w-600">Valor total RF Resgatado</h4>
                </div>
                <div class="p-col-8 text-right">
                <i class="feather icon-file-text f-28"></i>
                </div>
                </div>
                </div>
                <div class="card-footer bg-c-green">
                <div class="row align-items-center">
                <div class="p-col-12">
                <p class="text-white m-b-0">{{valorTotalResgatadoRF | currency: 'BRL' }}</p>
                </div>
                <div class="p-col-8 text-right">
                <i class="feather icon-trending-up text-white f-16"></i>
                </div>
                </div>
                </div>
                </div>
                </div>

                <!----------------------------------------------INVESTIMENTO TOTAL RV---------------------------------------------------------------------------------->

                <div class="p-col-2">
                  <div class="card">
                  <div class="card-block">
                  <div class="row align-items-center">
                  <div class="p-col-12">
                  <h4 class="text-c-green f-w-600">Valor RF Dispinível</h4>
                  </div>
                  <div class="p-col-8 text-right">
                  <i class="feather icon-file-text f-28"></i>
                  </div>
                  </div>
                  </div>
                  <div class="card-footer bg-c-green">
                  <div class="row align-items-center">
                  <div class="p-col-12">
                  <p class="text-white m-b-0">{{valorAplicadoDisponivelRF | currency: 'BRL' }}</p>
                  </div>
                  <div class="p-col-8 text-right">
                  <i class="feather icon-trending-up text-white f-16"></i>
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>

                  <!--------------------------------------------------RENDIMENTO TOTAL RV------------------------------------------------------------------------------>

                  <div class="p-col-2">
                    <div class="card">
                    <div class="card-block">
                    <div class="row align-items-center">
                    <div class="p-col-12">
                    <h4 class="text-c-green f-w-600">Rend. Total RF</h4>
                    </div>
                    <div class="p-col-8 text-right">
                    <i class="feather icon-file-text f-28"></i>
                    </div>
                    </div>
                    </div>
                    <div class="card-footer bg-c-green">
                    <div class="row align-items-center">
                    <div class="p-col-12">
                    <p class="text-white m-b-0">RS: Em Desenv.</p>
                    </div>
                    <div class="p-col-8 text-right">
                    <i class="feather icon-trending-up text-white f-16"></i>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>

                    <!---------------------------------------------------TOTAL DIVI RECEBIDOS----------------------------------------------------------------------------->

                    <div class="p-col-2">
                      <div class="card">
                      <div class="card-block">
                      <div class="row align-items-center">
                      <div class="p-col-12">
                      <h4 class="text-c-green f-w-600">Total Investido RV</h4>
                      </div>
                      <div class="p-col-8 text-right">
                      <i class="feather icon-file-text f-28"></i>
                      </div>
                      </div>
                      </div>
                      <div class="card-footer bg-c-green">
                      <div class="row align-items-center">
                      <div class="p-col-12">
                      <p class="text-white m-b-0">{{valorInvestidoRV.valorTotalInvestidoRendaVariavel | currency: 'BRL' }}</p>
                      </div>
                      <div class="p-col-8 text-right">
                      <i class="feather icon-trending-up text-white f-16"></i>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>

                      <!-------------------------------------------------------------------------------------------------------------------------------->

                      <!---------------------------------------------------TOTAL DIVI RECEBIDOS----------------------------------------------------------------------------->

                    <div class="p-col-2">
                      <div class="card">
                      <div class="card-block">
                      <div class="row align-items-center">
                      <div class="p-col-12">
                      <h4 class="text-c-green f-w-600">Total Div. Recebidos</h4>
                      </div>
                      <div class="p-col-8 text-right">
                      <i class="feather icon-file-text f-28"></i>
                      </div>
                      </div>
                      </div>
                      <div class="card-footer bg-c-green">
                      <div class="row align-items-center">
                      <div class="p-col-12">
                      <p class="text-white m-b-0">{{ totalDivRecebido.totalDivRecebido | currency: 'BRL' }}</p>
                      </div>
                      <div class="p-col-8 text-right">
                      <i class="feather icon-trending-up text-white f-16"></i>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>



          </div>
        </div>

        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12 p-md-12">
            <div>
              <p-panel header="Dividendos recebidos" class="p-chart">
                <p-chart type="bar" [data]="graficoBarrasDividendoRecebido" [options]="basicOptionsVelaBlue" width="1410px" height="300px" responsive="true"></p-chart>
              </p-panel>
            </div>
          </div>

        </div>

        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12 p-md-12">
            <div>
              <p-panel header="Total dividendos recebidos por mês">
                <div class="p=col=12">
                  <p-table
                  #tabela
                  [value] = totalDivRecebidoNoAno
                  styleClass="p-datatable-gridlines p-datatable-sm"
                  [paginator]="false"
                  [rows]="5"
                  selectionMode="single"
                  [responsive]="true"
                  selectionMode="single">
                  <ng-template pTemplate="emptymessage">
                    Nenhum valor encontrado
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                        <th class="col-mes-header">JAN</th>
                        <th class="col-mes-header">FEV</th>
                        <th class="col-mes-header">MAR</th>
                        <th class="col-mes-header">ABR</th>
                        <th class="col-mes-header">MAI</th>
                        <th class="col-mes-header">JUN</th>
                        <th class="col-mes-header">JUL</th>
                        <th class="col-mes-header">AGO</th>
                        <th class="col-mes-header">SET</th>
                        <th class="col-mes-header">OUT</th>
                        <th class="col-mes-header">NOV</th>
                        <th class="col-mes-header">DEZ</th>
                        <th class="col-mes-header">TOTAL</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body">
                    <tr>
                        <td class="col-mes-content">{{valorDivRecGridJAN  | currency: 'BRL'}}</td>
                        <td class="col-mes-content">{{valorDivRecGridFEV  | currency: 'BRL'}}</td>
                        <td class="col-mes-content">{{valorDivRecGridMAR  | currency: 'BRL'}}</td>
                        <td class="col-mes-content">{{valorDivRecGridABR  | currency: 'BRL'}}</td>
                        <td class="col-mes-content">{{valorDivRecGridMAI  | currency: 'BRL'}}</td>
                        <td class="col-mes-content">{{valorDivRecGridJUN  | currency: 'BRL'}}</td>
                        <td class="col-mes-content">{{valorDivRecGridJUL  | currency: 'BRL'}}</td>
                        <td class="col-mes-content">{{valorDivRecGridAGO  | currency: 'BRL'}}</td>
                        <td class="col-mes-content">{{valorDivRecGridSET  | currency: 'BRL'}}</td>
                        <td class="col-mes-content">{{valorDivRecGridOUT  | currency: 'BRL'}}</td>
                        <td class="col-mes-content">{{valorDivRecGridNOV  | currency: 'BRL'}}</td>
                        <td class="col-mes-content">{{valorDivRecGridDEZ  | currency: 'BRL'}}</td>
                        <td class="col-total-content">{{valorTotalDivGrid  | currency: 'BRL'}}</td>


                    </tr>
                </ng-template>

                  </p-table>
                </div>
              </p-panel>
            </div>
          </div>
          </div>


          <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-12">
              <div>
                <p-panel header="Histórico mensal">
                  <div class="p-col-5">
                    <div class="p-d-flex p-flex-column p-flex-md-row">

                      <div class="p-mb-1 p-mr-1 p-lg-5 p-fluid">
                        <label>Filtro</label>
                        <p-dropdown
                        name="filtroGriProventosRecebidosEFuturos"
                        [(ngModel)]="filtroSelecionado"
                        [options]="filtroGriProventosRecebidosEFuturos"
                        (onChange)="buscaTotalProventosRecebidosEFuturos()"
                        filter="true"></p-dropdown>
                      </div>
                    </div>
                  </div>
                  <div class="p=col=12">
                    <p-table
                    #tabela
                    [value] = gridProventosRecebidosEFuturos
                    styleClass="p-datatable-gridlines p-datatable-sm"
                    [paginator]="false"
                    [rows]="5"
                    selectionMode="single"
                    [responsive]="true"
                    selectionMode="single">
                    <ng-template pTemplate="emptymessage">
                      Nenhum valor encontrado
                    </ng-template>
                    <ng-template pTemplate="header">
                      <tr>
                        <th class="col-mes-header">ANO</th>
                          <th class="col-mes-header">JAN</th>
                          <th class="col-mes-header">FEV</th>
                          <th class="col-mes-header">MAR</th>
                          <th class="col-mes-header">ABR</th>
                          <th class="col-mes-header">MAI</th>
                          <th class="col-mes-header">JUN</th>
                          <th class="col-mes-header">JUL</th>
                          <th class="col-mes-header">AGO</th>
                          <th class="col-mes-header">SET</th>
                          <th class="col-mes-header">OUT</th>
                          <th class="col-mes-header">NOV</th>
                          <th class="col-mes-header">DEZ</th>
                          <th class="col-mes-header">TOTAL</th>
                          <th class="col-mes-header">MÉDIA</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-gridProventosRecebidosEFuturos>
                      <tr>
                          <td class="col-mes-content">{{gridProventosRecebidosEFuturos.ano}}</td>
                          <td class="col-mes-content">{{gridProventosRecebidosEFuturos.jan  | currency: 'BRL'}}</td>
                          <td class="col-mes-content">{{gridProventosRecebidosEFuturos.fev  | currency: 'BRL'}}</td>
                          <td class="col-mes-content">{{gridProventosRecebidosEFuturos.mar  | currency: 'BRL'}}</td>
                          <td class="col-mes-content">{{gridProventosRecebidosEFuturos.abr  | currency: 'BRL'}}</td>
                          <td class="col-mes-content">{{gridProventosRecebidosEFuturos.mai  | currency: 'BRL'}}</td>
                          <td class="col-mes-content">{{gridProventosRecebidosEFuturos.jun  | currency: 'BRL'}}</td>
                          <td class="col-mes-content">{{gridProventosRecebidosEFuturos.jul  | currency: 'BRL'}}</td>
                          <td class="col-mes-content">{{gridProventosRecebidosEFuturos.ago  | currency: 'BRL'}}</td>
                          <td class="col-mes-content">{{gridProventosRecebidosEFuturos.setembro  | currency: 'BRL'}}</td>
                          <td class="col-mes-content">{{gridProventosRecebidosEFuturos.outubro  | currency: 'BRL'}}</td>
                          <td class="col-mes-content">{{gridProventosRecebidosEFuturos.nov  | currency: 'BRL'}}</td>
                          <td class="col-mes-content">{{gridProventosRecebidosEFuturos.dez  | currency: 'BRL'}}</td>
                          <td class="col-total-content">{{gridProventosRecebidosEFuturos.total  | currency: 'BRL'}}</td>
                          <td class="col-mes-content">{{gridProventosRecebidosEFuturos.media  | currency: 'BRL'}}</td>


                      </tr>
                  </ng-template>

                    </p-table>
                  </div>
                </p-panel>
              </div>
            </div>
            </div>


          <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-12">
              <div>
                <p-panel header="Histórico de provendos futuros" [toggleable]="true" [collapsed]="true">
                  <div class="p=col=12">
                    <p-table
                    #tabela
                    [value] = historicoProvendosFuturosGrid
                    styleClass="p-datatable-gridlines p-datatable-sm"
                    [paginator]="true"
                    [rows]="50"
                    selectionMode="single"
                    [responsive]="true"
                    selectionMode="single">
                    <ng-template pTemplate="emptymessage">
                      Nenhum valor encontrado
                    </ng-template>
                    <ng-template pTemplate="header">
                      <tr>
                          <th class="col-mes-header">Tipo ativo</th>
                          <th class="col-mes-header">Logo</th>
                          <th class="col-mes-header">Ticker</th>
                          <th class="col-mes-header">Tipo provento</th>
                          <th class="col-mes-header">Data referencia</th>
                          <th class="col-mes-header">Data COM</th>
                          <th class="col-mes-header">Data pagamento</th>
                          <th class="col-mes-header">Qtd</th>
                          <th class="col-mes-header">Valor Un.</th>
                          <th class="col-mes-header">TOTAL</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-historicoProvendosFuturosGrid>
                      <tr>
                          <td class="col-mes-content">{{historicoProvendosFuturosGrid.tipo_ativo_enum}}</td>
                          <td class="col-mes-content"><img [src]="historicoProvendosFuturosGrid.logo_url" width="20" class="p-shadow-4" /></td>
                          <td class="col-mes-content">{{historicoProvendosFuturosGrid.ticker}}</td>
                          <td class="col-mes-content">{{historicoProvendosFuturosGrid.tipo_dividendo_enum}}</td>
                          <td class="col-mes-content">{{historicoProvendosFuturosGrid.mes}}/{{historicoProvendosFuturosGrid.ano}}</td>
                          <td class="col-mes-content">{{historicoProvendosFuturosGrid.data_com | date: 'dd/MM/y'}}</td>
                          <td class="col-mes-content">{{historicoProvendosFuturosGrid.data_pagamento | date: 'dd/MM/y'}}</td>
                          <td class="col-mes-content">{{historicoProvendosFuturosGrid.qtdCotas}}</td>
                          <td class="col-mes-content">{{historicoProvendosFuturosGrid.valor_por_cota | currency: 'BRL'}}</td>
                          <td class="col-mes-content">{{historicoProvendosFuturosGrid.dividendo_a_receber | currency: 'BRL'}}</td>


                      </tr>
                  </ng-template>

                    </p-table>
                  </div>
                </p-panel>
              </div>
            </div>
            </div>


          <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-12">
              <div>
                <p-panel header="Quantidade de Fiis e Ações" class="p-chart">
                  <p-chart type="bar" [data]="graficoBarrasQtdTotalCotasEAcoes" [options]="basicOptions" width="1410px" height="300px" responsive="true"></p-chart>
                </p-panel>
              </div>
            </div>
          </div>


          <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-6">
              <div>
                <p-panel header="Dividendos recebidos em {{ mes }}/{{ ano }}">
                  <p-chart type="bar" [data]="graficoBarrasDivMesEAno" [options]="basicOptions" responsive="true"></p-chart>
                </p-panel>
              </div>
            </div>
            <div class="p-field p-col-12 p-md-6">
              <div>
                <p-panel header="No Data">
                  <p-chart type="doughnut" ></p-chart>
                </p-panel>
              </div>
            </div>

          </div>




      </p-card>
  </p-tabPanel> <!--============ FIM DO TAB MENU 01 =============================-->


  <p-tabPanel header="Informações da carteira" leftIcon="pi pi-chart-line"> <!--============ INICIO DO TAB MENU 02 =============================-->

    <div><label [ngStyle]="{'color': temaColor}">----------------------</label></div>
    <div><label [ngStyle]="{'color': temaColor}">----------------------</label></div>

    <p-panel header="Ações" *ngIf="relatorioCompletoAcoesGrid && relatorioCompletoAcoesGrid.length > 0" [toggleable]="true" [collapsed]="false">

      <div class="p=col=12">
        <p-table
        #tabela
        [value] = relatorioCompletoAcoesGrid
        styleClass="p-datatable-gridlines p-datatable-sm"
        [paginator]="false"
        [rows]="15"
        selectionMode="single"
        [responsive]="true"
        selectionMode="single">
        <ng-template pTemplate="emptymessage">
          Nenhum valor encontrado
        </ng-template>
        <ng-template pTemplate="header">

          <tr>

            <th  colspan="5">
              Total projetivo:  {{totalProjetivoGridAcoes | currency: 'BRL'}}
              <ng-container *ngIf="totalProjetivoGridAcoes < 0; else plusIcon">
                <i class="pi pi-arrow-down" [ngStyle]="{'color': totalProjetivoGridAcoes < 0 ? '#a10e0e' : 'green'}"></i>
              </ng-container>
              <ng-template #plusIcon>
                <i class="pi pi-arrow-up" [ngStyle]="{'color': totalProjetivoGridAcoes < 0 ? '#a10e0e' : 'green'}"></i>
              </ng-template>
            </th>

            <th  colspan="5">Total investido: {{totalInvestidoAcoesGrid | currency: 'BRL'}}</th>
          </tr>

          <tr>
            <th class="col-mes-header">Logo</th>
              <th class="col-mes-header">Ticker</th>
              <th class="col-mes-header">Quantidade</th>
              <th class="col-mes-header">Preço médio</th>
              <th class="col-mes-header">Preço atual</th>
              <th class="col-mes-header">Variação</th>
              <th class="col-mes-header">Valor investido</th>
              <th class="col-mes-header">Saldo variação</th>
              <th class="col-mes-header">Projetivo</th>
              <th class="col-mes-header">Perc. Ações</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-relatorioCompletoAcoesGrid>
          <tr>
            <td class="col-mes-content"><img [src]="relatorioCompletoAcoesGrid.logoUrl" width="30" class="p-shadow-4" /></td>

            <td class="col-mes-content" pTooltip="{{ relatorioCompletoAcoesGrid.valorCotacaoAtual === 0 ? 'Não foi possível consultar o valor atual do ativo' : '' }}" tooltipPosition="top">
              <span [ngStyle]="{
                'color': relatorioCompletoAcoesGrid.valorCotacaoAtual === 0 ? getStyles().color : getStyles().defaultColor,
                'background-color': relatorioCompletoAcoesGrid.valorCotacaoAtual === 0 ? getStyles().backgroundColor : getStyles().defaultBackgroundColor}">
                {{relatorioCompletoAcoesGrid.ticker}}
              </span>
            </td>


              <!--<td class="col-mes-content">{{relatorioCompletoAcoesGrid.ticker}}</td>-->
              <td class="col-mes-content">{{relatorioCompletoAcoesGrid.quantidadeCotas}}</td>
              <td class="col-mes-content">{{relatorioCompletoAcoesGrid.mediaInvestida  | currency: 'BRL'}}</td>
              <td class="col-mes-content">{{relatorioCompletoAcoesGrid.valorCotacaoAtual  | currency: 'BRL'}}</td>

              <td class="col-mes-content" [ngStyle]="{'color': relatorioCompletoAcoesGrid.variacao < 0 ? '#a10e0e' : 'green'}">
                <ng-container *ngIf="relatorioCompletoAcoesGrid.variacao < 0; else plusIcon">
                  <i class="pi pi-arrow-down"></i>
                </ng-container>
                <ng-template #plusIcon>
                  <i class="pi pi-arrow-up"></i>
                </ng-template>
                {{relatorioCompletoAcoesGrid.variacao.toFixed(2).replace('.', ',')}}%</td>

              <td class="col-mes-content">{{relatorioCompletoAcoesGrid.valorInvestido  | currency: 'BRL'}}</td>

              <td class="col-mes-content" [ngStyle]="{'color': relatorioCompletoAcoesGrid.variacao < 0 ? '#a10e0e' : 'green'}">
                {{relatorioCompletoAcoesGrid.saldoVariacao  | currency: 'BRL'}}</td>

                <td class="col-mes-content" [ngStyle]="{'color': relatorioCompletoAcoesGrid.variacao < 0 ? '#a10e0e' : 'green'}">
                  {{relatorioCompletoAcoesGrid.ganhoPerdaProjetiva  | currency: 'BRL'}}</td>

              <td class="col-mes-content">{{relatorioCompletoAcoesGrid.percentualValorInvestido.toFixed(2).replace('.', ',')}}%</td>


          </tr>
      </ng-template>

        </p-table>
      </div>


    </p-panel>

    <div><label [ngStyle]="{'color': temaColor}">----------------------</label></div>

    <!---------------------------------------------------------------------  GRID FIIS ----------------------------------------------------------->

      <p-panel header="FIIs" *ngIf="relatorioCompletoFIISsGrid && relatorioCompletoFIISsGrid.length > 0" [toggleable]="true" [collapsed]="false">

      <div class="p=col=12">
        <p-table
        #tabela
        [value] = relatorioCompletoFIISsGrid
        styleClass="p-datatable-gridlines p-datatable-sm"
        [paginator]="false"
        [rows]="15"
        selectionMode="single"
        [responsive]="true"
        selectionMode="single">
        <ng-template pTemplate="emptymessage">
          Nenhum valor encontrado
        </ng-template>
        <ng-template pTemplate="header">

          <tr>
            <th  colspan="5">
              Total projetivo:  {{totalProjetivoGridAFiis | currency: 'BRL'}}
              <ng-container *ngIf="totalProjetivoGridAFiis < 0; else plusIcon">
                <i class="pi pi-arrow-down" [ngStyle]="{'color': totalProjetivoGridAFiis < 0 ? '#a10e0e' : 'green'}"></i>
              </ng-container>
              <ng-template #plusIcon>
                <i class="pi pi-arrow-up" [ngStyle]="{'color': totalProjetivoGridAFiis < 0 ? '#a10e0e' : 'green'}"></i>
              </ng-template>
            </th>

            <th  colspan="5">Total investido: {{totalInvestidoFiisGrid | currency: 'BRL'}}</th>
          </tr>

          <tr>
            <th class="col-mes-header">Logo</th>
              <th class="col-mes-header">Ticker</th>
              <th class="col-mes-header">Quantidade</th>
              <th class="col-mes-header">Preço médio</th>
              <th class="col-mes-header">Preço atual</th>
              <th class="col-mes-header">Variação</th>
              <th class="col-mes-header">Valor investido</th>
              <th class="col-mes-header">Saldo variação</th>
              <th class="col-mes-header">Projetivo</th>
              <th class="col-mes-header">Perc. FIIs</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-relatorioCompletoFIISsGrid>
          <tr>
            <td class="col-mes-content"><img [src]="relatorioCompletoFIISsGrid.logoUrl" width="30" class="p-shadow-4" /></td>

            <td class="col-mes-content" pTooltip="{{ relatorioCompletoFIISsGrid.valorCotacaoAtual === 0 ? 'Não foi possível consultar o valor atual do ativo' : '' }}" tooltipPosition="top">
              <span [ngStyle]="{
                'color': relatorioCompletoFIISsGrid.valorCotacaoAtual === 0 ? getStyles().color : getStyles().defaultColor,
                'background-color': relatorioCompletoFIISsGrid.valorCotacaoAtual === 0 ? getStyles().backgroundColor : getStyles().defaultBackgroundColor}">
                {{relatorioCompletoFIISsGrid.ticker}}
              </span>
            </td>
           <!-- <td class="col-pessoa-content">{{relatorioCompletoFIISsGrid.ticker}}</td> -->
              <td class="col-mes-content">{{relatorioCompletoFIISsGrid.quantidadeCotas}}</td>
              <td class="col-mes-content">{{relatorioCompletoFIISsGrid.mediaInvestida  | currency: 'BRL'}}</td>
              <td class="col-mes-content">{{relatorioCompletoFIISsGrid.valorCotacaoAtual  | currency: 'BRL'}}</td>

              <td class="col-mes-content" [ngStyle]="{'color': relatorioCompletoFIISsGrid.variacao < 0 ? '#a10e0e' : 'green'}">
                <ng-container *ngIf="relatorioCompletoFIISsGrid.variacao < 0; else plusIcon">
                  <i class="pi pi-arrow-down"></i>
                </ng-container>
                <ng-template #plusIcon>
                  <i class="pi pi-arrow-up"></i>
                </ng-template>
                {{relatorioCompletoFIISsGrid.variacao.toFixed(2).replace('.', ',')}}%</td>

              <td class="col-mes-content">{{relatorioCompletoFIISsGrid.valorInvestido  | currency: 'BRL'}}</td>

              <td class="col-mes-content" [ngStyle]="{'color': relatorioCompletoFIISsGrid.variacao < 0 ? '#a10e0e' : 'green'}">
                {{relatorioCompletoFIISsGrid.saldoVariacao  | currency: 'BRL'}}</td>

                <td class="col-mes-content" [ngStyle]="{'color': relatorioCompletoFIISsGrid.variacao < 0 ? '#a10e0e' : 'green'}">
                  {{relatorioCompletoFIISsGrid.ganhoPerdaProjetiva  | currency: 'BRL'}}</td>

              <td class="col-mes-content">{{relatorioCompletoFIISsGrid.percentualValorInvestido.toFixed(2).replace('.', ',')}}%</td>


          </tr>
      </ng-template>

        </p-table>
      </div>


    </p-panel>


    <div><label [ngStyle]="{'color': temaColor}">----------------------</label></div>

    <!---------------------------------------------------------------------  GRID BDRs ----------------------------------------------------------->

      <p-panel header="BDR's" *ngIf="relatorioCompletoBRDsGrid && relatorioCompletoBRDsGrid.length > 0" [toggleable]="true" [collapsed]="false">

      <div class="p=col=12">
        <p-table
        #tabela
        [value] = relatorioCompletoBRDsGrid
        styleClass="p-datatable-gridlines p-datatable-sm"
        [paginator]="false"
        [rows]="15"
        selectionMode="single"
        [responsive]="true"
        selectionMode="single">
        <ng-template pTemplate="emptymessage">
          Nenhum valor encontrado
        </ng-template>
        <ng-template pTemplate="header">

          <tr>
            <th  colspan="5">
              Total projetivo:  {{totalProjetivoGridBDR | currency: 'BRL'}}
              <ng-container *ngIf="totalProjetivoGridAFiis < 0; else plusIcon">
                <i class="pi pi-arrow-down" [ngStyle]="{'color': totalProjetivoGridAFiis < 0 ? '#a10e0e' : 'green'}"></i>
              </ng-container>
              <ng-template #plusIcon>
                <i class="pi pi-arrow-up" [ngStyle]="{'color': totalProjetivoGridAFiis < 0 ? '#a10e0e' : 'green'}"></i>
              </ng-template>
            </th>

            <th  colspan="5">Total investido: {{totalInvestidoBDRGrid | currency: 'BRL'}}</th>
          </tr>

          <tr>
            <th class="col-mes-header">Logo</th>
              <th class="col-mes-header">Ticker</th>
              <th class="col-mes-header">Quantidade</th>
              <th class="col-mes-header">Preço médio</th>
              <th class="col-mes-header">Preço atual</th>
              <th class="col-mes-header">Variação</th>
              <th class="col-mes-header">Valor investido</th>
              <th class="col-mes-header">Saldo variação</th>
              <th class="col-mes-header">Projetivo</th>
              <th class="col-mes-header">Perc. BDRs</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-relatorioCompletoBRDsGrid>
          <tr>
            <td class="col-mes-content"><img [src]="relatorioCompletoBRDsGrid.logoUrl" width="30" class="p-shadow-4" /></td>

            <td class="col-mes-content" pTooltip="{{ relatorioCompletoBRDsGrid.valorCotacaoAtual === 0 ? 'Não foi possível consultar o valor atual do ativo' : '' }}" tooltipPosition="top">
              <span [ngStyle]="{
                'color': relatorioCompletoBRDsGrid.valorCotacaoAtual === 0 ? getStyles().color : getStyles().defaultColor,
                'background-color': relatorioCompletoBRDsGrid.valorCotacaoAtual === 0 ? getStyles().backgroundColor : getStyles().defaultBackgroundColor}">
                {{relatorioCompletoBRDsGrid.ticker}}
              </span>
            </td>
           <!-- <td class="col-pessoa-content">{{relatorioCompletoFIISsGrid.ticker}}</td> -->
              <td class="col-mes-content">{{relatorioCompletoBRDsGrid.quantidadeCotas}}</td>
              <td class="col-mes-content">{{relatorioCompletoBRDsGrid.mediaInvestida  | currency: 'BRL'}}</td>
              <td class="col-mes-content">{{relatorioCompletoBRDsGrid.valorCotacaoAtual  | currency: 'BRL'}}</td>

              <td class="col-mes-content" [ngStyle]="{'color': relatorioCompletoBRDsGrid.variacao < 0 ? '#a10e0e' : 'green'}">
                <ng-container *ngIf="relatorioCompletoBRDsGrid.variacao < 0; else plusIcon">
                  <i class="pi pi-arrow-down"></i>
                </ng-container>
                <ng-template #plusIcon>
                  <i class="pi pi-arrow-up"></i>
                </ng-template>
                {{relatorioCompletoBRDsGrid.variacao.toFixed(2).replace('.', ',')}}%</td>

              <td class="col-mes-content">{{relatorioCompletoBRDsGrid.valorInvestido  | currency: 'BRL'}}</td>

              <td class="col-mes-content" [ngStyle]="{'color': relatorioCompletoBRDsGrid.variacao < 0 ? '#a10e0e' : 'green'}">
                {{relatorioCompletoBRDsGrid.saldoVariacao  | currency: 'BRL'}}</td>

                <td class="col-mes-content" [ngStyle]="{'color': relatorioCompletoBRDsGrid.variacao < 0 ? '#a10e0e' : 'green'}">
                  {{relatorioCompletoBRDsGrid.ganhoPerdaProjetiva  | currency: 'BRL'}}</td>

              <td class="col-mes-content">{{relatorioCompletoBRDsGrid.percentualValorInvestido.toFixed(2).replace('.', ',')}}%</td>


          </tr>
      </ng-template>

        </p-table>
      </div>


    </p-panel>

    <div><label [ngStyle]="{'color': temaColor}">----------------------</label></div>
    <div><label [ngStyle]="{'color': temaColor}">----------------------</label></div>

    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-6">
        <div>
          <p-panel header="Percentual total carteira">
            <p-chart type="pie" [data]="graficoPizzaAcoesFiisRendaFixa"></p-chart>
          </p-panel>
        </div>
      </div>
      <div class="p-field p-col-12 p-md-6">
        <div>
          <p-panel header="Ações / Fiis">
            <p-chart type="pie" [data]="graficoPizzaAcoesFiis"></p-chart>
          </p-panel>
        </div>
      </div>

    </div>

    <p-panel header="Relatório de Ações" *ngIf="relatorioCompletoAcoesGrid && relatorioCompletoAcoesGrid.length > 0" [toggleable]="true" [collapsed]="true">

      <p-panel header="Visão geral das Ações" [toggleable]="true" [collapsed]="true" styleClass="custom-panel">

      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6">
          <div>
            <p-panel header="Percentual Ações | QTD Ações: {{quantidadeTotalAcoes}}">
              <p-chart type="doughnut" [data]="graficoPercentualAcoes"></p-chart>
            </p-panel>
          </div>
        </div>


          <div class="p-field p-col-12 p-md-6">
            <div>
              <ng-container *ngFor="let ativo of relatorioCompletoAcoesGrid">
              <p-panel header="{{ativo.ticker}} | {{ativo.valorInvestido | currency: 'BRL'}}">
                <p-progressBar [value]="ativo.percentualValorInvestido" styleClass="progress-bar-blue" [style]="{'height': '20px'}"></p-progressBar>
              </p-panel>
            </ng-container>
            </div>
          </div>
      </div>
    </p-panel>

    <div><label [ngStyle]="{'color': temaColor}">----------------------</label></div>

    <p-panel header="Posição por segmentos" [toggleable]="true" [collapsed]="true">

      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6">
          <div>
            <p-panel header="Segmentos em ações">
              <p-chart type="doughnut" [data]="graficoPorSegmentoAcoes"></p-chart>
            </p-panel>
          </div>
        </div>


          <div class="p-field p-col-12 p-md-6">
            <div>
              <ng-container *ngFor="let ativo of relatorioSegmentoAcoes">
              <p-panel header="{{ativo.nomeSegmento}} | {{ativo.valorInvestido | currency: 'BRL'}}">
                <p-progressBar [value]="ativo.percentual" styleClass="progress-bar-green" [style]="{'height': '20px'}"></p-progressBar>
              </p-panel>
            </ng-container>
            </div>
          </div>
      </div>

    </p-panel>

    <div><label [ngStyle]="{'color': temaColor}">----------------------</label></div>

    <p-panel header="Posição por Setores" [toggleable]="true" [collapsed]="true">

      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6">
          <div>
            <p-panel header="Setores em ações">
              <p-chart type="doughnut" [data]="graficoPorSetoresAcoes"></p-chart>
            </p-panel>
          </div>
        </div>


          <div class="p-field p-col-12 p-md-6">
            <div>
              <ng-container *ngFor="let ativo of relatorioSetoresAcoes">
              <p-panel header="{{ativo.nomeSetor}} | {{ativo.valorInvestido | currency: 'BRL'}}">
                <p-progressBar [value]="ativo.percentual" styleClass="progress-bar-purple" [style]="{'height': '20px'}"></p-progressBar>
              </p-panel>
            </ng-container>
            </div>
          </div>
      </div>

    </p-panel>

    </p-panel>

    <div><label [ngStyle]="{'color': temaColor}">----------------------</label></div>

<!----------------------------------------------- Relatório de FIIs --------------------------------------------------------------------------------------->
    <p-panel header="Relatório de FIIs" *ngIf="relatorioCompletoFIISsGrid && relatorioCompletoFIISsGrid.length > 0" [toggleable]="true" [collapsed]="true">

      <p-panel header="Visão geral dos FIIs" [toggleable]="true" [collapsed]="true" styleClass="custom-panel">

      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6">
          <div>
            <p-panel header="Percentual FIIs | QTD FIIs: {{quantidadeTotalFiis}}">
              <p-chart type="doughnut" [data]="graficoPercentualFiis"></p-chart>
            </p-panel>
          </div>
        </div>


          <div class="p-field p-col-12 p-md-6">
            <div>
              <ng-container *ngFor="let ativo of relatorioCompletoFIISsGrid">
              <p-panel header="{{ativo.ticker}} | {{ativo.valorInvestido | currency: 'BRL'}}">
                <p-progressBar [value]="ativo.percentualValorInvestido" styleClass="progress-bar-blue" [style]="{'height': '20px'}"></p-progressBar>
              </p-panel>
            </ng-container>
            </div>
          </div>
      </div>
    </p-panel>

    <div><label [ngStyle]="{'color': temaColor}">----------------------</label></div>

    <p-panel header="Posição por segmentos" [toggleable]="true" [collapsed]="true">

      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6">
          <div>
            <p-panel header="Segmentos em FIIS">
              <p-chart type="doughnut" [data]="graficoPorSegmentoFIIS"></p-chart>
            </p-panel>
          </div>
        </div>


          <div class="p-field p-col-12 p-md-6">
            <div>
              <ng-container *ngFor="let ativo of relatorioSegmentoFIIS">
              <p-panel header="{{ativo.nomeSegmento}} | {{ativo.valorInvestido | currency: 'BRL'}}">
                <p-progressBar [value]="ativo.percentual" styleClass="progress-bar-green" [style]="{'height': '20px'}"></p-progressBar>
              </p-panel>
            </ng-container>
            </div>
          </div>
      </div>

    </p-panel>

    <div><label [ngStyle]="{'color': temaColor}">----------------------</label></div>

    <p-panel header="Posição por Setores" [toggleable]="true" [collapsed]="true">

      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6">
          <div>
            <p-panel header="Setores em FIIs">
              <p-chart type="doughnut" [data]="graficoPorSetoresFIIS"></p-chart>
            </p-panel>
          </div>
        </div>


          <div class="p-field p-col-12 p-md-6">
            <div>
              <ng-container *ngFor="let ativo of relatorioSetoresFIIS">
              <p-panel header="{{ativo.nomeSetor}} | {{ativo.valorInvestido | currency: 'BRL'}}">
                <p-progressBar [value]="ativo.percentual" styleClass="progress-bar-purple" [style]="{'height': '20px'}"></p-progressBar>
              </p-panel>
            </ng-container>
            </div>
          </div>
      </div>

    </p-panel>

    </p-panel>

    <div><label [ngStyle]="{'color': temaColor}">----------------------</label></div>


    <div class="p-formgrid p-grid">

      <div class="p-field p-col-6 p-md-6">
        <div>
          <p-panel header="Percentual dos ativos na carteira" class="p-chart">
            <p-chart type="doughnut" [data]="graficoPizzaTotalCarteira" [options]="basicOptions" responsive="true"></p-chart>
          </p-panel>
        </div>



      </div>

      </div>

      <div class="p-field p-col-6 p-md-12">
        <div>
          <p-panel header="Informações dos ativos" [toggleable]="true" [collapsed]="false">
            <div class="p=col=12">
              <p-table
              #tabela
              [value] = relatorioBasicoComDivRecebido
              styleClass="p-datatable-gridlines p-datatable-sm"
              [paginator]="false"
              [rows]="5"
              selectionMode="single"
              [responsive]="true"
              selectionMode="single">
              <ng-template pTemplate="emptymessage">
                Nenhum valor encontrado
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                    <th class="col-mes-header">Tipo Ativo</th>
                    <th class="col-mes-header">Ticker</th>
                    <th class="col-mes-header">Qtd Cotas</th>
                    <th class="col-mes-header">Valor investido</th>
                    <th class="col-mes-header">Preço médio</th>
                    <th class="col-mes-header">Total Div. recebido</th>
                    <th class="col-mes-header">% na carteira</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-relatorioBasicoComDivRecebido>
                <tr>
                    <td class="col-mes-content">{{relatorioBasicoComDivRecebido.tipoProdutoEnum}}</td>
                    <td class="col-mes-content">{{relatorioBasicoComDivRecebido.ticker}}</td>
                    <td class="col-mes-content">{{relatorioBasicoComDivRecebido.quantidadeCotas}}</td>
                    <td class="col-mes-content">{{relatorioBasicoComDivRecebido.valorInvestido | currency: 'BRL'}}</td>
                    <td class="col-mes-content">{{relatorioBasicoComDivRecebido.mediaInvestida | currency: 'BRL'}}</td>
                    <td class="col-mes-content">{{relatorioBasicoComDivRecebido.totalDividendosRecebido | currency: 'BRL'}}</td>
                    <td class="col-mes-content">{{relatorioBasicoComDivRecebido.percentualValorInvestido.toFixed(2).replace('.', ',')}} %</td>


                </tr>
            </ng-template>

              </p-table>
            </div>
          </p-panel>
        </div>
      </div>





  </p-tabPanel>
  </p-tabView>

</div>
