.body-content {
  margin-top: 79px; /* Ajuste conforme a altura da sua barra de navegação */
  /*padding: 2px; /* Adicione um espaçamento superior ao conteúdo para compensar a barra de navegação fixa */
  background-color: white; /* Adicione isso para cobrir a barra de navegação fixa */
  position: relative; /* Adicione isso para garantir que o conteúdo não seja cortado pela barra de navegação */
  z-index: 1; /* Adicione isso para garantir que o conteúdo esteja acima da barra de navegação */
}

.col-amostraprincipal-header {
  width: 150px; /* Adicione a unidade de medida (px) */
}

.col-amostraprincipal-content {
  text-align: center;
}

.col-amostrasecundaria-header {
  width: 160px; /* Adicione a unidade de medida (px) */
}

.col-amostrasecundaria-content {
  text-align: center;
}
