.col-logo-header {
  width: 5px;
}
.col-ticker-header {
  width: 30px;
}
.col-short-name-header {
  width: 100px;
}
.col-status-header {
  width: 50px;
}
.col-acoes-header {
  width: 40px;
}
.col-status-content {
  text-align: center;
}
.col-acoes-content {
  text-align: center;
}

.body-content {
  margin-top: 79px; /* Ajuste conforme a altura da sua barra de navegação */
  /*padding: 2px; /* Adicione um espaçamento superior ao conteúdo para compensar a barra de navegação fixa */
  background-color: white; /* Adicione isso para cobrir a barra de navegação fixa */
  position: relative; /* Adicione isso para garantir que o conteúdo não seja cortado pela barra de navegação */
  z-index: 1; /* Adicione isso para garantir que o conteúdo esteja acima da barra de navegação */
}

.custom-tag-nao {
  background-color: #6c757d !important; /* cinza escuro bootstrap */
  color: #fff !important;
  border-radius: 3px;
  padding: 0.25em 0.75em;
  font-weight: 600;
  font-size: 0.8rem;
  display: inline-block;
}
