.teste {
  background-color: rgb(240, 240, 240);
}

.quadro{
  padding: 2px;
}
article{
  padding: 3px;
  border: 1px solid #95A4A5;
  border-radius: 10px
}

article > h5 {

  background-color: #95A4A5;
  color: #fff;
  text-align: center;
  line-height: 2.5;
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  border-radius: 10px
}

.number{
  color: blue;
  padding: 10px;
  text-align: right;
  margin: 0;
}
.number-resgate{
  color: rgb(117, 29, 23);
  padding: 10px;
  text-align: right;
  margin: 0;
}

.body-content {
  margin-top: 79px; /* Ajuste conforme a altura da sua barra de navegação */
  /*padding: 2px; /* Adicione um espaçamento superior ao conteúdo para compensar a barra de navegação fixa */
  background-color: white; /* Adicione isso para cobrir a barra de navegação fixa */
  position: relative; /* Adicione isso para garantir que o conteúdo não seja cortado pela barra de navegação */
  z-index: 1; /* Adicione isso para garantir que o conteúdo esteja acima da barra de navegação */
}
