<div class="container p-shadow-2 body-content p-p-3">
  <p-card>
    <div class="p-col-12">
      <h2>{{ editando ? 'Edição de' : 'Cadastro de' }} setores</h2>
    </div>

    <form autocomplete="off" #f="ngForm" (ngSubmit)="salvar(f)">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-12">
          <label>Nome Setor</label>
          <input type="text" name="nomeSetor" [(ngModel)]="setores.nomeSetor" ngModel #nomeEmissor="ngModel" pInputText class="p-inputtext-sm" placeholder="Nome setor" required required minlength="3">
        </div>

      </div>

      <div style="background-color: thistle;"class="p-col-12">
        <p-card>

          <div class="p-d-flex p-jc-between p-ai-center p-flex-wrap">

            <button pButton
              label="Salvar"
              icon="pi pi-save"
              class="p-button-raised p-button-primary p-mb-1 p-mr-1 p-shadow-1"
              pTooltip="Salvar origem"
              tooltipPosition="top">
            </button>

              <button pButton
                icon="pi pi-arrow-left"
                label="Voltar para Pesquisa"
                class="p-button-outlined p-button-secondary p-mb-2 p-mr-2 p-shadow-1"
                routerLink="/setores"
                pTooltip="Voltar para a página de pesquisa"
                tooltipPosition="top">
              </button>
          </div>

        </p-card>
      </div>

    </form>
  </p-card>
</div>
