<div class="container body-content">
  <p-card>

    <div class="p-col-12">
      <h2>{{ editando ? 'Edição de' : 'Cadastro de' }} lançamentos</h2>
    </div>

    <form autocomplete="off" #f="ngForm" (ngSubmit)="salvar(f)">

      <div class="p-col-3 p-fluid">
        <p-selectButton [options]="tipoLancamento" [(ngModel)]="tipoLancamentoValue" name="tipoLancamento" #tipoLacBind></p-selectButton>
      </div>

      <div class="p-col-12 p-fluid">
        <label>Descrição</label>
        <input type="text" name="descricao" pInputText class="p-inputtext-sm" placeholder="Informe a descrição"
        ngModel #descricao="ngModel" [(ngModel)]="lancamento.descricao" required minlength="3">
      </div>

      <app-message [control]="descricao" error="required" text="Informe uma descrição"></app-message>
      <app-message [control]="descricao" error="minlength"
      text="Informe o mínimo de {{ descricao.errors?.minlength?.requiredLength }} caracteres. Faltam: {{ descricao.errors?.minlength?.requiredLength - descricao.errors?.minlength?.actualLength }}">
    </app-message>

      <div class="p-col-12">
        <div class="p-d-flex p-flex-column p-flex-md-row">

          <div class="p-mb-1 p-mr-1 p-fluid">
            <label>Data vencimento</label>
            <p-calendar
            name="dataVencimento"
            [(ngModel)]="lancamento.datavencimento"
            dateFormat="dd/mm/yy"
            [readonlyInput]="true"
            [showIcon]="true" required></p-calendar>
          </div>

          <div class="p-mb-1 p-mr-1 p-fluid">
            <label>{{ tipoLacBind.value === 'RECEITA' ? 'Data Recebimento' : 'Data pagamento' }}</label>
            <p-calendar
            name="dataPagamento"
            [(ngModel)]="lancamento.dataPagamento"
            [readonlyInput]="true"
            dateFormat="dd/mm/yy"
            [showIcon]="true"></p-calendar>
          </div>

          <div class="p-mb-1 p-mr-1 p-fluid">
            <label>Valor</label>
            <!--<input type="text" pInputText class="p-inputtext-sm" placeholder="0,00">-->
            <p-inputNumber name="valor" mode="decimal" inputId="minmaxfraction" [minFractionDigits]="2" [maxFractionDigits]="5" placeholder="0,00"
            ngModel [(ngModel)]="lancamento.valor"></p-inputNumber>
          </div>

          <div class="p-mb-1 p-mr-1 p-fluid">
            <label>Categoria</label>
            <p-dropdown
            name="categoria"
            [(ngModel)]="lancamento.categoria.codigo"
            [options]="categoria"
            filter="true"
            placeholder="Selecione" required></p-dropdown>
          </div>

          <div class="p-mb-1">
            <button pButton icon="pi pi-plus-circle"
            class="p-button-raised p-button-rounded p-button-success p-button-outlined p-mb-1 p-mr-1" style="margin-top: 20px;"
                pTooltip="Cadastrar categoria" tooltipPosition="top"></button>

                <button pButton icon="pi pi-refresh"
                class="p-button-raised p-button-rounded p-button-info p-button-outlined p-mb-1 p-mr-2" style="margin-top: 20px;"
                pTooltip="Atualizar combo categoria" tooltipPosition="top"></button>
          </div>

        </div>

        <div class="p-d-flex p-flex-column p-flex-md-row p-col-10">
          <div class="p-mb-1 p-mr-1 p-fluid">
            <label>Método de cobrança</label>
            <p-dropdown
            name="metododecobranca"
            [(ngModel)]="lancamento.metodoDeCobranca.codigoMetodoCobranca"
            [options]="metodoCobranca"
            filter="true"
            placeholder="Selecione"></p-dropdown>
          </div>

          <div class="">
            <button pButton icon="pi pi-plus-circle"
            class="p-button-raised p-button-rounded p-button-success p-button-outlined p-mb-1 p-mr-1" style="margin-top: 20px;"
                pTooltip="Cadastrar categoria" tooltipPosition="top"></button>

                <button pButton icon="pi pi-refresh"
                class="p-button-raised p-button-rounded p-button-info p-button-outlined p-mb-1 p-mr-2" style="margin-top: 20px;"
                pTooltip="Atualizar combo categoria" tooltipPosition="top"></button>
          </div>

          <div class="p-mb-2 p-mr-2 p-fluid">
            <label>Chave de pesquisa</label>
            <input type="text" pInputText class="p-inputtext-sm" placeholder="Chave de pesquisa"
            name="chavePesquisa" [(ngModel)]="lancamento.chavePesquisa" disabled=true>
          </div>

          <div class="p-mb-1 p-mr-1 p-col-1" [(hidden)]="recorrente">
            <label>Parcelado</label>
            <p-inputSwitch name="parcelado" [(ngModel)]="parcelado"></p-inputSwitch>
          </div>

          <div class="p-mb-1 p-mr-1 p-col-1" [(hidden)]="parcelado">
            <label>Recorrente</label>
            <p-inputSwitch name="recorente" [(ngModel)]="recorrente"></p-inputSwitch>
          </div>

        </div>

        <div [(hidden)]="!parcelado">
          <!---Aqui é a area de parcelamento--->
          <div class="p-d-flex p-flex-column p-flex-md-row">

            <div class="p-mb-1 p-mr-1 p-col-2">
              <label>Qtd parcelas</label>
              <input type="text" pInputText class="p-inputtext-sm" name="qtdParcela" [(ngModel)]="lancamento.quantidadeParcelas" placeholder="QTD parcelas">
            </div>

            <div class="p-mb-1 p-mr-1 p-col-2">
              <label>N° da parcela</label>
              <input type="text" pInputText class="p-inputtext-sm" name="numeroParcela"
              [(ngModel)]="lancamento.numeroParcela" placeholder="N° da parcela" disabled=true>
            </div>



          </div>
        </div>

        <div [(hidden)]="!recorrente">
          <!---Aqui é a area de recorrente--->
          <div class="p-d-flex p-flex-column p-flex-md-row">

            <div class="p-mb-1 p-mr-1 p-col-2">
              <label>Qtd vezes recorrente</label>
              <input type="text" pInputText class="p-inputtext-sm" name="lancRecorrente" [(ngModel)]="lancRecorrente" placeholder="Qtd vezes recorrente">
            </div>

          </div>
        </div>

        <div class="p-mb-1 p-mr-1 p-col-3 p-fluid" *ngIf="(tipoLancamentoValue === 'RECEITA' || tipoLancamentoValue === 'DESPESA') && lancamento.dataPagamento">
          <label>Informe um banco</label>
          <p-dropdown
          name="bancosAtivos"
          [(ngModel)]="lancamento.banco.bancoId"
          [options]="bancosAtivos"
          filter="true"
          placeholder="Selecione"></p-dropdown>
        </div>


      </div>

      <div style="background-color: thistle;"class="p-col-12">
        <p-card>

          <button pButton label="Salvar" icon="pi pi-save" class="p-button-raised p-button-primary p-mb-1 p-mr-1"
              pTooltip="Salvar lançamento" tooltipPosition="top"></button>

              <button pButton label="Novo" icon="pi pi-plus-circle" class="p-button-raised p-button-secondary p-mb-1 p-mr-1"
              pTooltip="Novo lançamento" tooltipPosition="top"></button>

              <a routerLink="/lancamentos" class="p-mb-1 p-mr-1">Voltar para pesquisa</a>

        </p-card>
      </div>



    </form>

  </p-card>
</div>
