/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404C51;
  background-color: #fcedff;
}

label {
  font-weight: bolder;
}

@media (min-width: 1200px){
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

.col-valor-header {
  width: 120px;
}
.col-acoes-header {
  width: 120px;
}
.col-parcela-header {
  width: 90px;
}

.col-valor-content {
  text-align: right;
}

.col-data-header {
  width: 120px;
}

.col-data-content {
  text-align: center;
}
.col-parcela-content {
  text-align: center;
}

a {
  color: #337AB7;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

.p-button {
  margin-right: .25em
}
.p-message-error {
  padding: 3px;
  margin: 0;
}
